<?xml version='1.0'?>
<robot name="my_robot">
  <gazebo>
    <static>false</static>
  </gazebo>

<!-- specifying materials and colors of model-->
  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

<!-- chassis description-->
	<link name='base_link'>
      <collision name='collision'>
        <geometry>
          <box size="1 .5 .5"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>

      <visual name='visual'>
        <geometry>
          <box size="1 .5 .5"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="white"/>
      </visual>
      <gazebo>
        <friction>
          <ode>
            <mu>0.00</mu>
            <mu2>0.00</mu2>
          </ode>
        </friction>
      </gazebo>
  </link>

    <!-- front right wheel description-->
  <link name="fr_wheel">
    
    <collision name="collision">
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
    </collision>
    <visual name="visual">
      <geometry>
        <cylinder radius=".1" length=".05"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
      <material name="blue"/>
    </visual>
    <!-- replace inertial values later-->
    <inertial>
      <mass value="3"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>
  <joint type="fixed" name="fr_wheel_hinge">
    <origin xyz=".4 .28 .1" rpy="0 0 0"/>
    <child link="fr_wheel"/>
    <parent link="base_link"/>
    <axis xyz="0 1 0"/>
	</joint>

  <!-- descripton for the front left wheel-->
  <link name="fl_wheel">
    
    <collision name="collision">
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
    </collision>
    <visual name="visual">
      <geometry>
        <cylinder radius=".1" length=".05"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
      <material name="blue"/>
    </visual>
    <!-- replace inertial values later-->
    <inertial>
      <mass value="3"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>

  <joint type="fixed" name="fl_wheel_hinge">
      <origin xyz="0.4 -.28 .1" rpy="0 0 0"/>
      <child link="fl_wheel"/>
      <parent link="base_link"/>
      <axis xyz="0 1 0"/>
	</joint>

  <!--back right wheel description-->
  <link name="br_wheel">
    <collision name="collision">
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
    </collision>
    <visual name="visual">
      <geometry>
        <cylinder radius=".1" length=".05"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
      <material name="blue"/>
    </visual>
    <!-- replace inertial values later-->
    <inertial>
      <mass value="3"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>
  <joint type="fixed" name="br_wheel_hinge">
    <origin xyz="-0.4 .28 .1" rpy="0 0 0"/>
    <child link="br_wheel"/>
    <parent link="base_link"/>
    <axis xyz="0 1 0"/>
	</joint>

  <!-- back left wheel description-->
  <link name="bl_wheel">
    <collision name="collision">
      <geometry>
        <sphere radius="0.1"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
    </collision>
    <visual name="visual">
      <geometry>
        <cylinder radius=".1" length=".05"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 1.5707 1.5707"/>
      <material name="blue"/>
    </visual>
     <!-- replace inertial values later-->
    <inertial>
      <mass value="3"/>
      <inertia ixx="0.4" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
    </inertial>
  </link>
  <joint type="fixed" name="bl_wheel_hinge">
      <origin xyz="-.4 -.28 .1" rpy="0 0 0"/>
      <child link="bl_wheel"/>
      <parent link="base_link"/>
      <axis xyz="0 1 0"/>
	</joint>


  <!--specifying the depth camera-->
  <link name="camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size=".025 .09 .025"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size=".09 .025 .025"/>
      </geometry>
    </visual>

    <inertial>
      <mass value=".01" />
      <inertia ixx=".001" ixy="0" ixz="0" iyy=".001" iyz="0" izz=".001" />
    </inertial>
  </link>

  <joint name="dc_joint" type="fixed">
    <axis xyz="0 1 0"/>
    <origin xyz=".45 0 .6" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
  </joint>

  <!--plugins-->
        <!--joy control-->
  <gazebo>
    <plugin name="drive_controller" filename="libset_model_velocity.so">
    </plugin>
  </gazebo>
        <!--depth camera plugin-->
  <gazebo reference="camera_link">
    <sensor name="depth_camera" type="depth">
      <update_rate>20</update_rate>
      <camera>
        <horizontal_fov>1.047198</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.05</near>
          <far>3</far>
        </clip>
      </camera>
      <plugin name="depth_controller" filename="libgazebo_ros_openni_kinect.so">
        <baseline>0.2</baseline>
        <alwaysOn>true</alwaysOn>
        <updateRate>1.0</updateRate>
        <cameraName>camera_ir</cameraName>
        <imageTopicName>/camera/color/image_raw</imageTopicName>
        <cameraInfoTopicName>/camera/depth/camera_info</cameraInfoTopicName>
        <depthImageTopicName>/camera/depth/image_raw</depthImageTopicName>
        <depthImageInfoTopicName>/camera/depth/camera_info</depthImageInfoTopicName>
        <pointCloudTopicName>/camera/depth/points</pointCloudTopicName>
        <frameName>camera_link</frameName>
        <pointCloudCutoff>0.1</pointCloudCutoff>
        <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
        <distortionK1>0.00000001</distortionK1>
        <distortionK2>0.00000001</distortionK2>
        <distortionK3>0.00000001</distortionK3>
        <distortionT1>0.00000001</distortionT1>
        <distortionT2>0.00000001</distortionT2>
        <CxPrime>0</CxPrime>
        <Cx>0</Cx>
        <Cy>0</Cy>
        <focalLength>0</focalLength>
        <hackBaseline>0</hackBaseline>
      </plugin>
    </sensor>
  </gazebo>
  <!--odemetry data-->
  <gazebo>
    <plugin name="odom" filename="libgazebo_ros_p3d.so">
      <frameName>base_link</frameName>
      <bodyName>chassis</bodyName>
      <topicName>odom</topicName>
      <updateRate>30.0</updateRate>
    </plugin>
  </gazebo>
</robot>

