[submodule "src/aruco_pkgs"]
	path = src/aruco_pkgs
	url = https://github.com/utahrobotics/aruco_pkgs.git
[submodule "src/usr_simulation"]
	path = src/usr_simulation
	url = https://github.com/utahrobotics/usr_simulation.git
[submodule "src/state_machine"]
	path = src/state_machine
	url = https://github.com/utahrobotics/state_machine.git
[submodule "src/teleop_control"]
	path = src/teleop_control
	url = https://github.com/utahrobotics/teleop_control.git
[submodule "src/zed-ros-wrapper"]
	path = src/zed-ros-wrapper
	url = https://github.com/stereolabs/zed-ros-wrapper.git
[submodule "src/roboclaw_ros"]
	path = src/roboclaw_ros
	url = https://github.com/utahrobotics/roboclaw_ros.git
[submodule "src/usr_launch"]
	path = src/usr_launch
	url = https://github.com/utahrobotics/usr_launch.git