  <?xml version="1.0"?>
  <model>
    <name>MYROBOT</name>
    <version>1.0</version>
    <sdf>urdf/robot.urdf</sdf>
    <author>
      <name>Joshua Miraglia</name>
      <email>joshuamiraglia@gmail.com</email>
    </author>
    <description>
      model to describe the robot
    </description>
  </model>